<div id="{{id}}">

  <h2>{{title}}</h2>

  <p>{{line1}}<a href="{{waterDataLink}}" target="_blank">{{waterDataText}}</a>{{line2}}</p>
  
  <p>{{line4}}<a href="{{emcLink}}" target="_blank">{{emcText}}</a>{{line5}} <a href="{{pubsLink}}" target="_blank">{{pubsText}}</a>{{line6}}</p>
  
  <p>{{line7}}<a href="{{nhcLink}}" target="_blank">{{nhcText}}</a>{{line8}}</p>
</div>
