<div id="{{id}}" caption="Precipitation from Hurricane Matthew">
  <figure>{{{figure}}}</figure>
  <div id="buttonContainer">
    <button id="playButton" onclick="playPause();" style="height:50px;width:90px;font-size:24px;font-weight:bold"> Play </button>
  </div>
  <figureCaption>
    {{line1}}
    <a href="{{line2}}" target="_blank">{{line2}}</a>
    {{line3}}
  </figureCaption>
</div>